@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path d="M1 2V0h1v1H0v1z" fill-opacity=".025"/></svg>');
  background-size: 25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-layout-content,
.ant-layout-footer,
.ant-layout {
  background: none;
}

.ant-layout-sider-trigger {
  background: rgba(0,0,0,.5);
}

.logo {
  font-family: 'Saira Stencil One', cursive;
  font-size: 50px !important;
  font-weight: 500 !important;
  color: #fff !important;
  background: rgba(0,0,0,.8);
  padding: .2em;
  border-radius: 10px;
  margin: 1em;
}

body:after{
  content: "beta";
  position: fixed;
  width: 80px;
  height: 25px;
  background: #EE8E4A;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  transform:rotate(-45deg);
}