.Editor {
    height: 100vh;
    background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path d="M1 2V0h1v1H0v1z" fill-opacity=".025"/></svg>');
    background-size: 30px;
}

.Editor main {
    display: flex;    
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Editor aside {
    background-color: rgba(0,0,0,.8);
    overflow: auto;
}

.backButton {
    position: fixed;
    left: 1rem;
    top: 1rem;
}