.Editor {
    height: 100vh;
}

.Editor main {
    background-color: #fff;
    display: flex;    
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.backButton {
    position: absolute;
    left: 1rem;
    top: 1rem;
}