.Editor {
    height: 100vh;
    background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path d="M1 2V0h1v1H0v1z" fill-opacity=".025"/></svg>');
    background-size: 25px;
}

.Editor :global(.react-transform-component) {
    width: 100%;
}

.Editor main {
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,.7);
}

.Editor aside {
    background-color: rgba(0,0,0,.9);
    overflow: auto;
}

.Editor :global(.ant-layout-sider-collapsed) {
  overflow-x: hidden;
}

.backButton {
    position: fixed;
    left: 1rem;
    top: 1rem;
}

.zoomControl {
    position: fixed;
    bottom: 1rem;
}

.workbench {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}